.mainHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  width: 100%;
  top: 0;
  background-color: transparent;
  z-index: 5;
  transition: background-color 0.5s ease;

  &.open {
    position: fixed;
    top: 0;
    background-color: white;
  }

  .content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 10px 15px;
    height: 55px;

    .headerMenu {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 20px;
      transition: all 0.5s ease-in-out;

      .menuBurguer {
        width: 20px;
        height: 1px;
        background: black;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
        transition: all 0.5s ease-in-out;

        &::before,
        &::after {
          content: "";
          position: absolute;
          width: 20px;
          height: 1px;
          background: black;
          border-radius: 5px;
          box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
          transition: all 0.5s ease-in-out;
        }

        &::before {
          transform: translateY(-7px);
        }
        &::after {
          transform: translateY(7px);
        }
      }

      &.open .menuBurguer {
        transform: translateX(-50px);
        background: transparent;
        box-shadow: none;
      }

      &.open .menuBurguer::before {
        transform: rotate(45deg) translate(35px, -35px);
      }

      &.open .menuBurguer::after {
        transform: rotate(-45deg) translate(35px, 35px);
      }
    }

    .headerTitle {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 16px;
      font-weight: 100;
    }

    .headerNav {
      display: flex;
      align-items: center;
      justify-content: center;
      display: flex;
      gap: 15px;

      svg {
        width: 32px;
        height: 32px;
        padding: 7px;
      }
    }
  }

  &.sticky {
    position: fixed;
    top: 0;
    background-color: white;
    animation: slideDown 0.75s ease forwards;
  }
}

.faqModal {
  :global(.MuiPaper-root) {
    width: 100%;
    padding: 0;
  }
}

.faqSection {
  display: flex;
  flex-direction: column;
  gap: 20px;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 10px 15px;
    height: 55px;

    h1 {
      font-size: 20px;
      font-weight: 400;
    }

    svg {
      width: 20px;
      height: 20px;
    }
  }

  input {
    flex: 1;
    border: 1px solid black;
    padding: 10px;
    font-size: 14px;
    font-weight: 300;
    font-family: inherit;
    height: 32px;
    outline: none;
    margin: 0 15px;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 15px;

    li {
      list-style: none;
      border-bottom: 1px solid #e7e6e2;
      padding-bottom: 15px;

      p {
        display: flex;
        align-items: center;
        font-weight: 400;
        margin-bottom: 5px;
        gap: 10px;

        svg {
          font-size: 15px;
        }
      }

      small {
        font-family: inherit;
        font-weight: 300;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
      }
    }
  }
}

.subDrawerHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
  padding: 10px 15px;
  min-height: 55px;

  > div {
    display: flex;
    gap: 10px;

    small {
      font-size: 16px;
      font-weight: 300;
    }
  }

  h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 400;
  }

  svg {
    width: 20px;
    height: 20px;
  }
}

.subDrawerContent {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;

  p {
    font-weight: 300;
    font-size: 14px;
    text-align: justify;
  }
}

.menuDrawer {
  z-index: 3 !important;
  margin-top: auto;
  bottom: 0 !important;
  height: calc(100vh - 55px) !important;

  & + label {
    display: none !important;
  }
}

.menuContent {
  display: flex;
  flex-direction: column;
  height: 100%;

  .bottom {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    bottom: 0;
    padding: 0 25px;
    height: 64px;
    width: 100%;

    button {
      background-color: transparent;
      border: 0;
      font-family: inherit;
      font-weight: 400;
      font-size: 16px;
      text-transform: uppercase;
    }
  }
}

.menuContent > ul {
  height: 80%;
  width: 100%;
  border-top: 1px solid #e7e6e2;
  flex: 1;
  padding: 25px;
  overflow-y: scroll;

  li {
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    text-transform: uppercase;

    &:not(:last-of-type) {
      padding-bottom: 20px;
    }

    small {
      font-size: 14px;
      font-weight: 300;
    }

    svg {
      font-size: 10px;
    }

    .subMenu {
      display: none;
      flex-direction: column;
      flex: 1 1 100%;
      border-left: 1px solid black;
      padding: 0 20px;
      z-index: 2;

      li {
        list-style: none;
        padding: 10px 0;
        font-size: 12px;
        font-weight: 400;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 5px;
      }
    }

    &:global(.open) {
      > small {
        font-weight: 400;
      }

      > ul {
        display: flex;
      }
    }
  }

  .divider {
    margin-bottom: 20px;
    border-bottom: 1px solid #e7e6e2;
  }

  .accordion {
    padding: 0;
    margin: 0;
    border: 0;
    box-shadow: none;
    background-color: transparent;
    padding-bottom: 20px;

    &:before {
      height: 0;
    }

    :global(.MuiAccordionSummary-root) {
      padding: 0;
      min-height: auto;
      justify-content: flex-start;
      gap: 5px;
    }

    :global(.MuiAccordionSummary-content) {
      margin: 0px;
      font-size: 14px;
      font-weight: 300;
      text-transform: uppercase;
      flex: 0;
    }

    :global(.MuiAccordionDetails-root) {
      padding: 0;
    }

    :global(.MuiAccordionDetails-root) {
      section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
        padding: 15px 0;
        img {
          width: 100%;
          height: auto;
        }
      }
    }

    :global(.MuiAccordionSummary-expandIconWrapper) {
      svg {
        font-size: 10px;
      }
    }

    :global(.MuiAccordionSummary-expandIconWrapper.Mui-expanded) {
      transform: rotate(90deg);
    }
  }
}

.searchDrawer {
  width: 100%;
  overflow-y: auto;

  .searchContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    overflow-y: auto;

    header {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 10px 15px;
      height: 55px;

      > svg {
        width: 20px;
        height: 20px;
      }
    }

    > h1 {
      font-weight: 400;
      font-size: 20px;
      padding: 0 15px;
    }

    .searchInput {
      display: flex;
      align-items: center;
      position: relative;
      padding: 0 15px;

      input {
        width: 100%;
        border: 0;
        border-bottom: 1px solid black;
        padding-bottom: 6px;
        padding-right: 20px;
        font-size: 14px;
        font-weight: 300;
        font-family: inherit;
        height: 32px;
        outline: none;
      }

      svg {
        width: 32px;
        height: 32px;
        font-size: 15px;
        right: 0;
        padding: 5px;
        border-bottom: 1px solid black;
      }
    }

    .searchTerms {
      padding: 0 15px;

      h1 {
        font-weight: 400;
        font-size: 20px;
        margin-bottom: 10px;
      }

      ul {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 15px;
        flex-wrap: wrap;

        li {
          font-weight: 300;
          list-style: none;
          color: #cacaca;
          letter-spacing: 2px;
        }
      }
    }

    .productsList {
      padding: 15px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 10px;
      row-gap: 30px;
    }

    .productItem {
      display: flex;
      flex-direction: column;

      .productSlider {
        display: grid;

        :global(.slick-dots) {
          bottom: 0px;

          & li button::before {
            font-size: 10px;
          }

          & li {
            width: 5px;
          }
        }

        .productImage {
          img {
            width: 100%;
            height: auto;
            margin-bottom: 15px;
          }
        }
      }

      .productName {
        font-weight: 400;
        font-size: 14px;
      }

      .productPrice {
        font-weight: 700;
        font-size: 12px;
        margin: 10px 0 5px;
      }

      .productInterest {
        font-weight: 400;
        font-size: 12px;
      }
    }
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-150px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
