.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  width: 100%;
  top: 0;
  background-color: transparent;
  z-index: 5;
  transition: background-color 0.5s ease;

  &.open {
    top: 0;
    position: fixed;
    background-color: white;
    height: 100%;
  }

  .content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 10px 15px;

    .headerMenu {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 20px;
      transition: all 0.5s ease-in-out;

      .menuBurguer {
        width: 20px;
        height: 1px;
        background: black;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
        transition: all 0.5s ease-in-out;

        &::before,
        &::after {
          content: "";
          position: absolute;
          width: 20px;
          height: 1px;
          background: black;
          border-radius: 5px;
          box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
          transition: all 0.5s ease-in-out;
        }

        &::before {
          transform: translateY(-7px);
        }
        &::after {
          transform: translateY(7px);
        }
      }

      &.open .menuBurguer {
        transform: translateX(-50px);
        background: transparent;
        box-shadow: none;
      }

      &.open .menuBurguer::before {
        transform: rotate(45deg) translate(35px, -35px);
      }

      &.open .menuBurguer::after {
        transform: rotate(-45deg) translate(35px, 35px);
      }
    }

    .headerTitle {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 16px;
      font-weight: 100;
    }

    .headerNav {
      display: flex;
      align-items: center;
      justify-content: center;
      display: flex;
      gap: 15px;
    }
  }

  .menuContent {
    width: 100%;
    border-top: 1px solid #e7e6e2;
    flex: 1;
    padding: 25px;

    li {
      list-style: none;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 5px;
      text-transform: uppercase;

      &:not(:last-of-type) {
        padding-bottom: 20px;
      }

      small {
        font-size: 14px;
        font-weight: 300;
      }

      svg {
        font-size: 10px;
      }

      .subMenu {
        display: none;
        flex-direction: column;
        flex: 1 1 100%;
        border-left: 1px solid black;
        padding: 0 20px;
        z-index: 2;

        li {
          list-style: none;
          padding: 10px 0;
          font-size: 12px;
          font-weight: 400;
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          gap: 5px;
        }
      }

      &:global(.open) {
        > small {
          font-weight: 400;
        }

        > ul {
          display: flex;
        }
      }
    }

    .divider {
      margin-bottom: 20px;
      border-bottom: 1px solid #e7e6e2;
    }

    .accordion {
      padding: 0;
      margin: 0;
      border: 0;
      box-shadow: none;
      background-color: transparent;
      padding-bottom: 20px;

      &:before {
        height: 0;
      }

      :global(.MuiAccordionSummary-root) {
        padding: 0;
        min-height: auto;
        justify-content: flex-start;
        gap: 5px;
      }

      :global(.MuiAccordionSummary-content) {
        margin: 0px;
        font-size: 14px;
        font-weight: 300;
        text-transform: uppercase;
        flex: 0;
      }

      :global(.MuiAccordionDetails-root) {
        padding: 0;
      }

      :global(.MuiAccordionDetails-root) {
        section {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 15px;
          padding: 15px 0;
          img {
            width: 100%;
            height: auto;
          }
        }
      }

      :global(.MuiAccordionSummary-expandIconWrapper) {
        svg {
          font-size: 10px;
        }
      }

      :global(.MuiAccordionSummary-expandIconWrapper.Mui-expanded) {
        transform: rotate(90deg);
      }
    }
  }

  &.sticky {
    position: fixed;
    background-color: white;
    animation: slideDown 0.75s ease forwards;
  }
}

.faqModal {
  :global(.MuiPaper-root) {
    width: 90%;
  }

}

@keyframes slideDown {
  0% {
    transform: translateY(-150px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
