.footer {
  height: 60px;
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: none;

  .content {
    padding: 16px;

    nav {
      display: flex;
      align-items: center;
      justify-content: space-around;

      li.footerMenuItem {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        position: relative;

        svg {
          z-index: 1;
          color: black;
          font-size: 25px;
        }

        &.active {
          .indicator {
            background-color: white;
            position: absolute;
            transform: translateY(-15px);
            border-radius: 999px;
            width: 60px;
            height: 60px;
            display: flex;
            align-items: flex-start;
            justify-content: center;

            &::before {
              content: "";
              position: absolute;
              left: -60px;
              top: -42px;
              border-radius: 50%;
              background-color: transparent;
              width: 80px;
              height: 60px;
              box-shadow: 28px 48px white;
            }

            &::after {
              content: "";
              position: absolute;
              right: -60px;
              top: -42px;
              border-radius: 50%;
              background-color: transparent;
              width: 80px;
              height: 60px;
              box-shadow: -28px 48px white;
            }
          }
        }
      }
    }
  }

  @media only screen and (max-width: 780px) {
    display: block;

    &.show {
      animation: slideUp 0.75s ease forwards;
    }

    &.disable {
      animation: slideDown 0.75s ease forwards;
    }
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(150px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes slideDown {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(150px);
    opacity: 0;
  }
}
