.main {
  background-color: rgba(244, 244, 244, 0.592);
  height: 100%;
  padding-bottom: 60px;
 

  .content {
    height: 100%;    
    padding: var(--padding-inline-desk);
  
    

    .product {
      display: grid;
      gap: 20px;
      grid-template-columns: 65% calc(35% - 20px);
      overflow: visible;
      

      figure {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;

        img {
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }

      aside {
        position: relative;       
        background-color: aqua;

        .asideContent {
          position: sticky;
          top: 120px;
        }
      }
    }
  }
}
