.topBar {
  background-color: black;
  padding-inline: var(--padding-inline-desk);
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #e5e5e5;

  .content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;

    svg {
      width: 20px;
      height: 20px;
    }
  }
}

.headerDesk {
  background-color: white;
  padding-inline: var(--padding-inline-desk);
  height: 60px;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #e5e5e5;

  .content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    .menu {
      ul {
        display: flex;
        align-items: center;
        gap: 15px;

        li {
          text-transform: uppercase;
          list-style: none;
          font-size: 14px;
          font-weight: 300;
          cursor: pointer;
          display: inline-block;

          &:hover {
            font-weight: 400;
          }
        }
      }
    }

    .logo {
      width: 110px;
      height: auto;
      object-fit: cover;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      cursor: pointer;
    }

    .navigation {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  &.stickyDown {
    position: sticky;
    animation: slideDown 0.75s ease forwards;
  }

  &.stickyUp {
    position: sticky;
    animation: slideUp 0.75s ease forwards;
  }
}

.subHeaderDesk {
  background-color: white;
  padding-inline: var(--padding-inline-desk);
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: none;
  z-index: 3;

  .content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    nav {
      ul {
        display: flex;
        align-items: center;
        gap: 15px;
        li {
          text-transform: uppercase;
          list-style: none;
          font-size: 14px;
          font-weight: 300;
          cursor: pointer;

          &:hover {
            font-weight: 400;
          }
        }
      }
    }
  }

  &.stickyDown {
    position: sticky;
    top: 60px;
    animation: slideDownSubHeader 0.75s ease forwards;
  }

  &.stickyUp {
    position: sticky;
    top: 0;
    animation: slideDownSubHeaderUp 0.75s ease forwards;
  }
}

@keyframes slideDown {
  0% {
    top: -60px;
  }

  100% {
    top: 0;
  }
}

@keyframes slideUp {
  0% {
    top: 0;
  }

  100% {
    top: -60px;
  }
}

@keyframes slideDownSubHeader {
  0% {
    top: 0;
  }

  100% {
    top: 60px;
  }
}

@keyframes slideDownSubHeaderUp {
  0% {
    top: 60px;
  }

  100% {
    top: 0;
  }
}
