.newestProducts {
  padding: 0 15px 60px;
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: 781px) {
    background-color: white;
    padding-inline: var(--padding-inline-desk);
  }

  .productsList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 30px;

    @media only screen and (min-width: 781px) {
      grid-template-columns: repeat(auto-fill, minmax(200px, 380px)) !important;
      justify-content: center;
    }
  }
}

.productItem {
  display: flex;
  flex-direction: column;

  img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    cursor: pointer;
  }

  .productName {
    font-weight: 400;
    font-size: 14px;
  }

  .productPrice {
    font-weight: 700;
    font-size: 12px;
    margin: 10px 0 5px;
  }

  .productInterest {
    font-weight: 400;
    font-size: 12px;
  }
}
