.main {
  background-color: rgba(244, 244, 244, 0.592);
  height: 100%;
  padding-bottom: 60px;

  .content {
    height: 100%;

    .topPage {
      position: relative;

      h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        background-color: white;
        padding: 10px 20px;
        border-radius: 4px;
        font-size: clamp(.8rem, -0.875rem + 8.333vw, 2rem);
      }
    }
  }
}

.playerWrapper {
  position: relative;

  .player {
    position: absolute;
    top: 0;
    left: 0;

    > div {
      position: absolute;
      object-fit: fill;
      background-color: transparent !important;
    }
  }
}
