.main {
  background-color: rgba(244, 244, 244, 0.592);
  height: 100%;
  padding-bottom: 60px;

  .content {
    height: 100%;
  }
}

.playerWrapper {
  position: relative;

  .player {
    position: absolute;
    top: 0;
    left: 0;

    > div {
      position: absolute;
      object-fit: fill;
      background-color: transparent !important;
    }
  }
}
