.embla {
  position: relative;
  background-color: transparent;
  padding: 0;
  width: 100%;
  height: 100%;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.embla__viewport.is-draggable {
}

.embla__viewport.is-dragging {
}

.embla__container {
  height: 100%;
}

.embla__slide {
  position: relative;
  height: 100%;
}

.embla__slide__inner {
  position: relative;
  overflow: hidden;
  height: 100%;
}

//////////////////////
/////////EMBLA 2///////
//////////////////////

.embla2 {
  position: relative;
  height: 100%;
}

.embla__viewport2 {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.embla__viewport.is-draggable2 {
  cursor: move;
  cursor: grab;
}

.embla__viewport.is-dragging2 {
  cursor: grabbing;
}

.embla__container2 {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
  height: 100%;
  margin-left: -10px;
}

.embla__slide2 {
  position: relative;
  min-width: 100%;
  height: 100%;
  padding-left: 10px;
}

.embla__slide__inner2 {
  position: relative;
  overflow: hidden;
  height: 100%;
}
