.cartModal {
  width: 100% !important;
  max-width: 500px !important;

  .cartContent {
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 100px;
    overflow-y: auto;
    position: relative;

    header {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      min-height: 55px;
      padding: 10px 15px;

      .closeModal {
        width: 20px;
        height: 20px;
      }
    }

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 15px;
      border-top: 1px solid #e1e1e1;
      border-bottom: 1px solid #e1e1e1;

      .title {
        list-style: none;
        flex: 1;
        text-align: center;
        font-size: 14px;
        padding: 15px 0;
        outline: none;

        &[aria-selected="true"] {
          border-bottom: 2px solid black;
        }
      }
    }

    .productsList {
      display: flex;
      flex-direction: column;
      gap: 15px;
      padding: 15px;
    }

    footer {
      display: flex;
      flex-direction: column;
      gap: 15px;

      .subtotal {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 25px 0;
        background-color: #f6f6f6;

        p {
          font-size: 12px;
          display: flex;
          gap: 10px;

          span {
            font-weight: 700;
          }
        }
      }

      .buttons {
        padding: 0 15px;
        display: flex;
        flex-direction: column;
        gap: 15px;

        button {
          font-size: 12px;
          padding: 12px;
          border: 1px solid #aaa;
          background-color: transparent;

          &:nth-of-type(2) {
            border-color: black;
            background-color: black;
            color: white;
          }
        }
      }
    }
  }
}

.productItem {
  display: grid;
  grid-template-columns: 100px auto;
  align-items: center;
  gap: 15px;
  position: relative;

  img {
    width: 100%;
    height: auto;
  }

  .removeProduct {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
  }

  .productInfo {
    flex: 1;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-size: 14px;
    gap: 10px;

    .productName,
    .productColor,
    .productSize {
    }

    .productQuantity {
      width: 100%;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: 14px;
      display: flex;
      align-items: center;
      gap: 10px;

      span {
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }

    .productPrice {
      font-weight: 700;
      margin-top: 10px;
    }

    .removeFavorite {
      font-size: 12px;
      margin-top: 5px;
      border-bottom: 1px solid black;
    }
  }
}
