.loginPage {
  height: 100vh;

  .content {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    overflow-x: hidden;

    .formSlider {
      :global(.slider) {
        width: 100vw;
      }

      :global(.slide) {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      :global(.slider-wrapper) {
        height: fit-content !important;
      }
    }

    form {
      position: relative;
      width: 85%;
      max-width: 485px;
      height: fit-content;
      transition: all 0.5s ease;
      background-color: white;
      padding: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 15px;

      .closeLogin {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 15px;
        right: 15px;
      }

      h1 {
        color: #000;
        font-size: 24px;
        font-weight: 300;
        text-transform: uppercase;
        text-align: center;
      }

      > small {
        font-size: 12px;
        font-weight: 100;
      }

      ul {
        display: flex;
        width: 100%;
        max-width: 270px;
        flex-direction: column;
        gap: 10px;

        li {
          width: 100%;
          list-style: none;
          flex: 1;
          text-align: left;
          border: 1px solid #8a8a8a;
          min-height: 40px;
          color: #a1a1a1;
          display: grid;
          grid-template-columns: 65px auto;
          align-items: center;
          justify-items: center;

          small {
            width: 100%;
            text-align: left;
            font-size: 11px;
          }

          svg {
            font-size: 22px;
          }

          &:nth-of-type(3) {
            svg {
              color: #5a7194;
            }
          }

          &:nth-of-type(1),
          &:nth-of-type(4) {
            svg {
              color: #000;
            }
          }
        }
      }

      p {
        font-size: 12px;
        font-weight: 300;
        margin-bottom: 10px;
        span {
          font-weight: 400;
        }
      }

      .formInput {
        width: 100%;
        display: flex;
        flex-direction: column;

        label {
          font-size: 12px;
          font-family: inherit;
          text-align: left;
          width: 100%;
          margin-bottom: 5px;
        }

        small {
          width: 100%;
          text-align: right;
          font-size: 11px;

          &:not(:last-of-type) {
            margin-bottom: 10px;
          }
        }

        input {
          width: 100%;
          list-style: none;
          text-align: left;
          border: 1px solid #8a8a8a;
          min-height: 40px;
          padding: 0 10px;
          color: #a1a1a1;
        }
      }

      .warning {
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 5px;

        p {
          font-size: 14px;
          text-align: left;
          color: #999;
          font-weight: 600;
          margin: 0;
        }

        small {
          font-size: 12px;
          font-weight: 300;
          color: #999;
        }
      }

      .buttons {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding-top: 15px;
        border-top: 1px solid #e7e6e2;

        button {
          border: 0;
          background-color: black;
          color: white;
          padding: 10px 0;
          flex: 1;
          font-size: 14px;
          font-family: inherit;
          font-weight: 300;
        }
      }
    }
  }
}
