.main {
  background-color: rgb(235, 235, 235);
  height: 100vh;

  .content {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;  
    background-size: cover;
    filter: grayscale(0.5);

    h1 {
      text-align: center;
      padding: 10px;
      border-radius: 5px;
      font-weight: 400;
      font-size: 20px;
      color: white;
      letter-spacing: 5px;
      background-color: rgba(0,0,0,.5);
    }
  }
}
