.productsCarousel {
  padding: 0 0 60px 15px;
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: 781px) {
    padding-left: var(--padding-inline-desk);
  }
}

.productItem {
  display: flex;
  flex-direction: column;
  padding-right: 10px;

  img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
  }

  .productName {
    font-weight: 400;
    font-size: 14px;
  }

  .productPrice {
    font-weight: 700;
    font-size: 12px;
    margin: 10px 0 5px;
  }

  .productInterest {
    font-weight: 400;
    font-size: 12px;
  }
}
