.productsCarousel {
  padding: 0 16px 60px;
  display: flex;
  flex-direction: column;
}

.productItem {
  display: flex;
  flex-direction: column;
  padding-right: 10px;

  img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
  }

  .productName {
    font-weight: 400;
    font-size: 14px;
  }

  .productPrice {
    font-weight: 700;
    font-size: 12px;
    margin: 10px 0 5px;
  }

  .productInterest {
    font-weight: 400;
    font-size: 12px;
  }
}
