.footer {
  height: 60px;
  background-color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
 

  @media only screen and (max-width: 780px) {
    display: block;
    // transition: all .35s ease;
    // animation: slideUp 3s;
  }

  .content {
    padding: 16px;

    nav {
      display: flex;
      align-items: center;
      justify-content: space-around;

      li.footerMenuItem {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        font-size: 22px;
        position: relative;

        svg {
          z-index: 1;
          color: white;
        }

        &.active {
          svg {
            font-size: 25px;
            transform: translateY(-10px);
          }

          .indicator {
            background-color: black;
            position: absolute;
            transform: translateY(-15px);
            border-radius: 999px;
            width: 60px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;

            &::before {
              content: "";
              position: absolute;
              left: -60px;
              top: -42px;
              border-radius: 50%;
              background-color: transparent;
              width: 80px;
              height: 60px;
              box-shadow: 28px 48px black;
            }

            &::after {
              content: "";
              position: absolute;
              right: -60px;
              top: -42px;
              border-radius: 50%;
              background-color: transparent;
              width: 80px;
              height: 60px;
              box-shadow: -28px 48px black;
            }

            
          }
        }
      }
    }
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(60px);
  }
}
@keyframes slideDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100px);
  }
}
