.main {
  background-color: rgba(244, 244, 244, 0.592);
  height: 100%;
  transition: background-color 0.5s ease;

  &.open {
    top: 0;
    position: fixed;
    background-color: white;
    height: 100%;
  }

  .content {
    height: 100%;

    .productNav {
      width: 100%;
      position: absolute;
      top: 0;
      z-index: 2;
      padding: 10px 15px;
      height: 55px;

      > div {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

        svg {
          width: 20px;
          height: 20px;
        }

        img {
          width: 35px;
          height: 35px;

          &:nth-of-type(1) {
            top: 2px;
          }
        }

        a:has(.logo) {
          margin-inline: auto;
        }

        .logo {
          width: 80px;
          height: auto;
        }
      }

      &.sticky {
        position: sticky;
        top: 0;
        background-color: white;
        animation: slideDown 0.75s ease forwards;
      }
    }

    .imageSlider {
      position: fixed;
      top: 0;

      .productImageSlider {
        img {
          object-fit: cover;
          width: 100%;
          height: auto;
        }
      }
    }

    .productContent {
      padding: 15px 0;
      background-color: white;
      z-index: 1;
      position: relative;

      .productInfo {
        padding: 0 15px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-size: 12px;

        .iosDivider {
          width: 40px;
          border-top: 1px solid black;
          border-radius: 50px;
          margin-inline: auto;
          margin-bottom: 5px;
        }

        small {
          color: #8a8a8a;
        }

        .productColors {
          display: flex;
          gap: 10px;
          margin-bottom: 15px;

          small {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: white;
            width: 24px;
            height: 24px;
            padding: 1px;
            border: 1px solid transparent;

            img {
              width: 20px;
              height: 20px;
              object-fit: cover;
            }

            &.active {
              border-color: black;
            }
          }
        }

        .productName {
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: 18px;
          color: black;
          gap: 20px;
          min-height: 26px;

          span {
            border: 1px solid var(--mark-up);
            font-weight: 700;
            font-size: 12px;
            color: var(--mark-up);
            padding: 5px 25px;
          }
        }

        p {
          font-size: 14px;
          color: var(--mark-up);

          small {
            text-decoration: line-through;
            font-size: 14px;
          }

          span {
            font-size: 12px;
            color: #8a8a8a;
          }
        }

        button {
          margin-top: 10px;
          width: 100%;
          background-color: black;
          color: white;
          padding: 12px;
          border: 0;
          text-transform: uppercase;
          font-size: 12px;
          font-weight: 300;
        }
      }

      .productDecription {
        margin-top: 40px;
        padding: 0 15px;
        p {
          font-size: 14px;
          color: #444;
        }
      }

      .productExtraInfo {
        margin: 70px 15px;
        padding: 25px 0;
        display: flex;
        justify-content: center;
        background-color: rgba(230, 230, 230, 0.59);

        div {
          padding: 0 10px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-direction: column;
          gap: 15px;

          &:not(:last-of-type) {
            border-right: 1px solid black;
          }
          svg {
            width: 30px;
            height: 30px;
          }

          p {
            text-align: center;
            font-size: 12px;
            font-weight: 300;
          }
        }
      }

      .productAccordion {
        display: flex;
        flex-direction: column;
        font-size: 50px;
        padding: 20px 15px;
        text-transform: uppercase;
        margin-block: 50px;
        background-color: #f7f7f7;
        gap: 10px;

        :global(.MuiAccordionSummary-content) {
          font-size: 13px;
          color: #707070;
          font-weight: 700;
        }

        p {
          display: flex;
          justify-content: space-between;
          padding: 10px 0;
          font-weight: 300;
          font-size: 12px;
          text-transform: none;

          &:first-of-type {
            padding-top: 20px;
          }

          span {
            text-align: right;
            font-weight: 300;
          }
        }
      }

      .productShippingCalc {
        padding: 0 15px;
        display: flex;
        flex-direction: column;
        gap: 5px;

        h1 {
          font-size: 12px;
          text-transform: uppercase;
        }

        div {
          display: flex;

          input {
            border: 1px solid #000;
            border-right: 0;
            min-height: 40px;
            padding: 0 10px;
            font-size: 12px;
            flex: 1;
          }

          button {
            min-width: 100px;
            border: 1px solid #000;
            border-radius: 0;
            padding: 7px;
            font-size: 12px;
            text-transform: uppercase;
            background-color: transparent;
          }
        }

        a {
          width: fit-content;
          font-size: 10px;
          color: black;
          padding-bottom: 1px;
          border-bottom: 1px solid black;
          text-transform: uppercase;
          font-weight: 700;
        }

        table {
          font-size: 12px;
          border: 1px solid #dedede;
          margin: 20px 0;

          thead {
            text-transform: uppercase;
            background-color: #f2f2f2;

            td {
              padding: 10px 20px;
            }
          }

          tbody {
            td {
              padding: 10px 20px;
            }
          }
        }
      }

      .bottomActions {
        background-color: black;
        position: sticky;
        bottom: 0;
        padding: 0 15px;
        margin-top: 30px;

        .bottomContent {
          display: flex;
          align-items: center;
          flex: 1;
          gap: 16px;

          .actions {
            display: flex;
            align-items: center;
            gap: 10px;

            svg {
              color: white;
              font-size: 20px;
              position: relative;

              &.active {
                color: red;
              }
            }

            .whatsIcon {
              position: relative;
              .whatsPopover {
                position: absolute;
                padding: 5px 12px;
                top: -35px;
                left: 50%;
                border-radius: 5px;
                font-size: 13px;
                white-space: nowrap;
                color: rgb(255, 255, 255);
                background: var(--mark-up);
                box-shadow: rgb(0 0 0 / 50%) 0px 3px 4px 0px;
                transform: translateX(-50%);
                transition: all 0.2s ease-in-out 0s;
                opacity: 1;

                &:after {
                  position: absolute;
                  content: "";
                  top: 100%;
                  left: 50%;
                  border-top: 6px solid var(--mark-up);
                  border-left: 4px solid transparent;
                  border-right: 4px solid transparent;
                  transform: translateX(-50%);
                }
              }
            }

            .columnSeparator {
              height: auto;
              width: 1px;
              margin-inline: 15px;
              border-right: 1px solid white;
            }
          }

          button {
            flex: 1;
            min-height: 56px;
            border: 0;
            color: white;
            background-color: black;
            text-align: center;
          }
        }
      }
    }
  }
}

@keyframes slideDown {
  0% {
    position: fixed;
    transform: translateY(-150px);
    opacity: 0;
  }

  100% {
    position: fixed;
    top: 0;
    transform: translateY(0px);
    opacity: 1;
  }
}

.productInfoAccordion {
  padding-bottom: 10px;
  margin: 0;
  border: 0;
  box-shadow: none;
  background-color: transparent !important;
  border-radius: 0 !important;

  &:not(:last-of-type) {
    border-bottom: 1px solid #e5e5e5 !important;
  }

  &:before {
    height: 0 !important;
    display: none !important;
  }

  :global(.MuiAccordionSummary-root) {
    padding: 0;
    min-height: auto;
  }

  :global(.MuiAccordionSummary-content) {
    margin: 0px;
    color: black;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
  }

  :global(.MuiAccordionDetails-root) {
    padding: 0;
  }

  :global(.MuiAccordionDetails-root) {
    ul {
      display: flex;
      flex-direction: column;
      gap: 15px;
      padding: 15px 0;

      li {
        list-style: none;
        font-size: 12px;
      }
    }
  }

  .accordionContent {
    p {
      padding: 10px 0 !important;
      font-size: 14px;
      font-weight: 400;
      text-transform: none;
    }
  }
}

.productModal {
  overflow: hidden;
  background: transparent !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100) !important;
  width: 100vw !important;
  z-index: 9999 !important;

  section {
    position: relative;
    width: 90%;
    height: max-content;
    display: flex;
    align-items: center;
    flex-direction: column;

    svg {
      position: absolute;
      top: 15px;
      right: 15px;
      font-size: 20px;
    }

    img {
      width: 100%;
      height: 250px;
      object-fit: cover;
      object-position: top;
    }

    .content {
      width: 100%;
      padding: 20px 15px;
      flex: 1;
      background-color: white;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 10px;

      h1 {
        font-size: 22px;
        font-weight: 300;
      }

      h2 {
        font-size: 16px;
        font-weight: 100;
      }

      p {
        font-size: 38px;
        font-weight: 400;
      }

      .emailInput {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-block: auto;
        gap: 5px;

        input {
          border: 1px solid #ddd;
          min-height: 40px;
          font-size: 16px;
          padding: 5px 12px;
          color: #222;
          border-radius: 0;
          font-family: inherit;

          &::placeholder {
            color: #bbb;
            font-weight: 100;
          }
        }

        button {
          min-height: 40px;
          border: 0;
          background-color: #000;
          color: white;
          width: 100%;
          font-size: 16px;
          text-transform: uppercase;
          font-weight: 100;
          font-family: inherit;
        }
      }

      small {
        margin-top: auto;
        font-size: 10px;
        font-weight: 300;
      }
    }
  }
}
