.main {
  background-color: rgba(244, 244, 244, 0.592);
  height: 100%;
  transition: background-color 0.5s ease;

  &.open {
    top: 0;
    position: fixed;
    background-color: white;
    height: 100%;
  }

  .content {
    height: 100%;

    .productNav {
      width: 100%;
      position: absolute;
      top: 0;
      z-index: 2;
      padding: 10px 15px;
      height: 55px;

      > div {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        svg {
          width: 20px;
          height: 20px;
        }
      }

      &.sticky {
        position: sticky;
        top: 0;
        background-color: white;
        animation: slideDown 0.75s ease forwards;
      }
    }

    .imageSlider {
      position: fixed;
      top: 0;

      .productImageSlider {
        img {
          object-fit: cover;
          width: 100%;
          height: auto;
        }
      }
    }

    .productContent {
      padding: 15px 0;
      background-color: white;
      z-index: 1;
      position: relative;

      .productInfo {
        padding: 0 15px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-size: 12px;

        .iosDivider {
          width: 40px;
          border-top: 1px solid black;
          border-radius: 50px;
          margin-inline: auto;
          margin-bottom: 5px;
        }

        small {
          color: #8a8a8a;
        }

        .productColors {
          display: flex;
          gap: 10px;
          margin-bottom: 15px;

          small {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: white;
            width: 24px;
            height: 24px;
            padding: 1px;
            border: 1px solid transparent;

            img {
              width: 20px;
              height: 20px;
              object-fit: cover;
            }

            &.active {
              border-color: black;
            }
          }
        }

        .productName {
          font-size: 18px;
        }

        p {
          font-size: 14px;
          span {
            font-size: 12px;
            color: #8a8a8a;
          }
        }

        button {
          margin-top: 10px;
          width: 100%;
          background-color: black;
          color: white;
          padding: 12px;
          border: 0;
          text-transform: uppercase;
          font-size: 12px;
          font-weight: 300;
        }
      }

      .productDecription {
        margin-top: 40px;
        padding: 0 15px;
        p {
          font-size: 14px;
          color: #444;
        }
      }

      .productExtraInfo {
        margin: 70px 15px;
        padding: 25px 0;
        display: flex;
        justify-content: center;
        background-color: #f7f5f5;

        div {
          padding: 0 10px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-direction: column;
          gap: 15px;

          &:not(:last-of-type) {
            border-right: 1px solid black;
          }
          svg {
            width: 30px;
            height: 30px;
          }

          p {
            text-align: center;
            font-size: 12px;
            font-weight: 100;
          }
        }
      }

      .productAccordion {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        padding: 0 15px;
        text-transform: uppercase;
        margin-bottom: 30px;

        p {
          display: flex;
          justify-content: space-between;
          padding: 20px 0;
          font-weight: 400;

          &:first-of-type {
            padding-top: 0;
          }

          span {
            text-align: right;
            font-weight: 300;
          }
        }
      }

      .productShippingCalc {
        padding: 0 15px;
        display: flex;
        flex-direction: column;
        gap: 5px;

        h1 {
          font-size: 12px;
          text-transform: uppercase;
        }

        div {
          display: flex;

          input {
            border: 1px solid #000;
            border-right: 0;
            min-height: 40px;
            padding: 0 10px;
            font-size: 12px;
            flex: 1;
          }

          button {
            min-width: 100px;
            border: 1px solid #000;
            border-radius: 0;
            padding: 7px;
            font-size: 12px;
            text-transform: uppercase;
            background-color: transparent;
          }
        }

        a {
          width: fit-content;
          font-size: 10px;
          color: black;
          padding-bottom: 1px;
          border-bottom: 1px solid black;
          text-transform: uppercase;
          font-weight: 700;
        }

        table {
          font-size: 12px;
          border: 1px solid #dedede;
          margin: 20px 0;

          thead {
            text-transform: uppercase;
            background-color: #f2f2f2;

            td {
              padding: 10px 20px;
            }
          }

          tbody {
            td {
              padding: 10px 20px;
            }
          }
        }
      }

      .bottomActions {
        background-color: black;
        position: sticky;
        bottom: 0;
        padding: 0 15px;
        margin-top: 30px;

        .bottomContent {
          display: flex;
          align-items: center;
          flex: 1;
          gap: 16px;

          .actions {
            display: flex;
            align-items: center;
            gap: 10px;

            svg {
              color: white;
              font-size: 20px;
              position: relative;

              &.active {
                color: red;
              }
            }

            .whatsIcon {
              position: relative;
              .whatsPopover {
                position: absolute;
                padding: 5px 12px;
                top: -35px;
                left: 50%;
                border-radius: 5px;
                font-size: 13px;
                white-space: nowrap;
                color: rgb(255, 255, 255);
                background: rgb(255, 72, 0);
                box-shadow: rgb(0 0 0 / 50%) 0px 3px 4px 0px;
                transform: translateX(-50%);
                transition: all 0.2s ease-in-out 0s;
                opacity: 1;

                &:after {
                  position: absolute;
                  content: "";
                  top: 100%;
                  left: 50%;
                  border-top: 6px solid rgb(255, 72, 0);
                  border-left: 4px solid transparent;
                  border-right: 4px solid transparent;
                  transform: translateX(-50%);
                }
              }
            }

            .columnSeparator {
              height: auto;
              width: 1px;
              margin-inline: 15px;
              border-right: 1px solid white;
            }
          }

          button {
            flex: 1;
            min-height: 56px;
            border: 0;
            color: white;
            background-color: black;
            text-align: center;
          }
        }
      }
    }
  }
}

@keyframes slideDown {
  0% {
    position: fixed;
    transform: translateY(-150px);
    opacity: 0;
  }

  100% {
    position: fixed;
    top: 0;
    transform: translateY(0px);
    opacity: 1;
  }
}

.accordion {
  padding: 20px 0;
  margin: 0;
  border: 0;
  box-shadow: none !important;
  background-color: transparent !important;

  &:before {
    height: 0;
  }

  :global(.MuiAccordionSummary-root) {
    padding: 0;
    min-height: auto;
  }

  :global(.MuiAccordionSummary-content) {
    margin: 0px;
    color: black;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
  }

  :global(.MuiAccordionDetails-root) {
    padding: 0;
  }

  :global(.MuiAccordionDetails-root) {
    ul {
      display: flex;
      flex-direction: column;
      gap: 15px;
      padding: 15px 0;
      li {
        list-style: none;
        font-size: 12px;
      }
    }
  }

  .accordionContent {

    p {
      padding: 10px 0 !important;
      font-size: 14px;
      font-weight: 400;
      text-transform: none;
    }
  }
}
