.featuredProduct {
  padding: 0 15px;
  display: flex;
  flex-direction: column;

  img {
    width: 100%;
    height: auto;
  }

  .product {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 60px;
    background-color: #EBEBEB;

    img {
      width: 100%;
      max-width: 175px;
      height: auto;
      margin-bottom: 15px;
    }

    .productName {
      font-weight: 400;
      font-size: 14px;
    }

    .productPrice {
      font-weight: 700;
      font-size: 12px;
      margin: 10px 0 5px;
    }

    .productInterest {
      font-weight: 400;
      font-size: 12px;
    }
  }
}
